/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-primary);
  font-variation-settings: 'wght' var(--font-weight-card);
  background-color: var(--background-color);
  color: var(--font-color);
  background-image: var(--horizontal-stripes), var(--vertical-stripes), var(--background-base-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:25px;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 12px;
  padding-block-start: clamp(120px, calc(120px + 0.015 * (100vw - 375px)), 136px);
  border: 2px solid currentColor;
  background-color: var(--background-color);
}

.logo-group__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--font-weight-card);
  line-height: normal;
  text-align: center;
  font-family: var(--font-accent);
  color: var(--font-color);
  text-transform: uppercase;
  font-style: normal;
}

.logo-group__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: var(--font-weight-card);
  line-height: normal;
  text-align: center;
  margin-block-start: 20px;
  font-family: var(--font-accent);
  color: var(--font-color);
  text-transform: uppercase;
  font-style: normal;
}

.header__theme-menu {
  text-align: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  appearance: none;
  position: relative;
  font-size: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--font-accent);
  text-transform: uppercase;
  font-style: normal;
  line-height: normal;
  font-weight: var(--font-weight-card);
  transition: opacity 0.3s ease; /* Плавное изменение */
}

/* Активный элемент */
.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  color: inherit;
  vertical-align: middle;
  opacity: 0.6;
  left: -15px;
  animation: arrowAnimation 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none; /* Делает кнопку неактивной для взаимодействия */
}

/* Ховер эффект */
.theme-menu__button:hover {
  opacity: 0.6;
}

/* Фокус анимация */
.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

/* Псевдоэлемент для подчеркивания при фокусе */
.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--font-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: calc(50px + 3.76vw);
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: var(--card-width);
  border: 2px solid var(--font-color);
  background-color: var(--background-color);
}

.flexible-content {
  margin: 0 auto;
  max-inline-size: 696px;
  margin-block-start: 100px;
}

.card-list__item:last-child {
  margin-block-end: 54px;
}

.card__title {
  font-variation-settings: 'wght' var(--font-weight-card-header);
  align-self: flex-start;
  padding-block-start: 4px;
  padding-inline-start: 10px;
  font-size: 18px;
  font-family: var(--font-primary);
  color: var(--font-color);
  font-style: normal;
  line-height: normal;
}

.card__image {
  width: 100%;
  object-fit: cover;
  align-self: center;
  object-position: center center;
  display: block;
  border-top: 2px solid var(--font-color);
  border-bottom: 2px solid var(--font-color);
}

.card__image-wrapper {
  position: relative;
}

.card__image-label {
  position: absolute;
  top: 10px;
  right: 10px;
  mix-blend-mode: hard-light;
  font-family: var(--font-accent);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-card);
  line-height: normal;
  color: var(--font-color);

  /* text-stroke для браузеров, которые поддерживают его */
  -webkit-text-stroke: 1px var(--label-shadow-color); /* для WebKit */
  text-stroke: 1px var(--label-shadow-color); /* стандартное свойство, если браузер поддерживает */
}

@supports not ((text-stroke: 1px) or (-webkit-text-stroke: 1px)) {
  /* Если text-stroke НЕ поддерживается, используем text-shadow */
  .image-label {
    text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color), 1px 0 var(--background-color), 0 -1px var(--background-color);
  }
}

.card__description-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 27px;
  width: 80%;
}

.card__description {
  font-size: 18px;
  font-family: var(--font-primary);
  color: var(--font-color);
  line-height: 116.667%;
  font-variation-settings:'wght' var(--font-weight-card);
}

.card__description:first-of-type {
  margin-block-start: 25px;
}

.card__button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 25px;
  gap: 4px;
}

.card__icon-button {
  background: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s ease;
  appearance: none;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--font-color);
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
  fill: none;
}

/* Наведение курсора на иконку */ 
.like-icon:hover .core { 
  fill: var(--contour-color);
  transition: fill 0.3s;/* Закрашиваем сердцевину сразу при наведении */
} 

.like-icon:hover .main-body { 
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s;/* Задержка 0.05s при наведении для основного тела */
}

/* Отвод курсора с иконки */ 
.core { 
  transition: fill 0.3s 0.03s;
} 

.main-body { 
  transition: fill 0.3s;
} 

.contour { 
  transition: fill 0.3s;/* Указываем конкретное свойство для плавности */
}

.like-icon:active .core { 
  fill: var(--fill-color);
  transition: fill 0.3s;/* Закрашиваем сердцевину сразу при наведении */
} 

.like-icon:active .main-body { 
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s;/* Задержка 0.05s при наведении для основного тела */
} 

.like-icon.is-liked .core { 
  fill: var(--fill-color);
  transition: fill 0.3s;
} 

.like-icon.is-liked .main-body { 
  fill: var(--fill-color);
  transition: fill 0.3s 0.05;
}

.like-icon.is-liked .heart { 
  animation: scaleHeart 0.3s ease-in 0.1s both;
  transform-origin: center;
} 

.like-icon.is-liked .contour { 
  fill: var(--fill-color);
  transition: fill 0.3s 0.06s;
} 

.like-icon.is-liked .sparks { 
  animation: sparkAnimation 0.3s ease-in 0.3s both;
} 

.card__like-button {
  align-self: initial;
  block-size: 38px;
  inline-size: 130px;
  padding: 9px 17px;
}

.card__like-button-text {
  font-style: normal;
  line-height: 90%;
}

.save-button {
  appearance: none;
  flex-direction: column;
  block-size: 80px;
  inline-size: 306px;
  gap: 8px;
}

.button {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  cursor: pointer;
  background-color: var(--background-color);
  border: 2px solid var(--font-color);
  transition: box-shadow 0.5s ease-in-out;
}

.save-button__text {
  line-height: 12.6px;
}

.save-button__icon {
  mix-blend-mode: difference;
  color: var(--blend-mode-text-color);
  z-index: 3;
  block-size: 28px;
  inline-size: 28px;
}

.button:focus {
  outline: none;
}

button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--font-color);
}

.button__text { 
  /* Общие стили для текста всех кнопок. */
  position: relative;
  mix-blend-mode: difference;
  z-index: 3;
  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: var(--font-weight-card);
  color: var(--blend-mode-text-color);
}

/* Общий класс для псевдоэлементов кнопок */
.button-pseudo:before {
  content: "";
  position: absolute;
  inset: 0;
  block-size: 100%;
  inline-size: 100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background-color: var(--pseudo-element-color);
  z-index: 1;
} 

.button-pseudo:hover::before {
  transform: translateX(0%); 
}

.modal-dialog[open] {
  max-inline-size: 357px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--background-color);
  border: 2px solid var(--font-color);
}

.modal-content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
}

.modal-dialog__svg-icon {
  color: var(--font-color);
  block-size: 39px;
  inline-size: 39px;
}

.modal-dialog__instruction {
  color: var(--font-color);
  font-family: var(--font-accent);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-card);
  line-height: 150%;
  text-transform: uppercase;
  max-inline-size: 234px;
}

.modal-dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.modal-dialog__form {
  inline-size: 100%;
}

.dialog-button {
  inline-size: 100%;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--font-color);
  background: var(--background-color);
}

.dialog-button__text {
  color: var(--blend-mode-text-color);
  font-family: var(--font-accent);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-card);
  line-height: 90%;
  text-transform: uppercase;
}

.card__image--multiple {
  filter: contrast(150%) brightness(0.8); /* Комбинирование нескольких фильтров */
}

.card__image--saturate {
  filter: saturate(2); /* Увеличиваем насыщенность */
}

.card__image--grayscale {
  filter: grayscale(100%); /* Преобразует изображение в полностью черно-белое */
}

.card__image--invert {
  filter: invert(1); /* Полностью инвертируем цвета */
}

.card__image--sepia {
  filter: sepia(1); /* Добавляем сепиа-эффект */
}

.card__image--blur {
  filter: blur(2px); /* Добавляем размытие */
}

.card__image--hue-rotate {
  filter: hue-rotate(90deg); /* Вращаем оттенок */
}

@media screen and (min-width: 376px) {
  .save-button {
    flex-direction: row;
    inline-size: 335px;
    block-size: 51px;
  }
  .save-button__icon {
    inline-size: 21px;
  }
}