/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    /* Переменные для шрифтов */
    --font-primary: 'Inter Var', sans-serif;
    --font-accent: 'PressStart2P', sans-serif;
    /* Переменные для толщины шрифта */
    --font-weight-card: 400;
    --font-weight-card-header: 700;
    --background-color: #FFFFFF;
    --font-color: #000000;
    --vertical-stripes: repeating-linear-gradient(90deg, #d3d3d3 0%, #d3d3d3 2px, transparent 2px, transparent 4px);
    --horizontal-stripes: repeating-linear-gradient(0deg, #d3d3d3 0%, #d3d3d3 2px, transparent 2px, transparent 4px);
    --background-base-gradient: linear-gradient(0deg, #1A1A1A 0%, #E7E7E7 100%);
    --header-width: clamp(375px, calc(375px + 0.3052 * (100vw - 375px)), 700px);
    --card-width: clamp(375px, calc(375px + 0.3014 * (100vw - 375px)), 696px);
    --label-shadow-color:rgba(255, 255, 255, 0.5);
    --blend-mode-text-color: #FFFFFF;
    --pseudo-element-color: #000000;
    --contour-color: #000000;
    --fill-color: #FF0000;
}